.Dishes {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;

}

.DishWrapper {
    border: 2px solid orange;

    height: 300px;
    width: 260px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;

    float: left;
}