.SearchField {
    border-radius: 10px; border: 2px solid gray;
    height: 40px; width: 1000px;
    padding: 0px 10px 0px 10px; margin: 0px 10px 10px 10px;
    font-size: 18px;
}

.UsersWrapper {
    overflow: scroll;
    height: 60%; width: 80%;
    margin: 10px 10% 0px 10%;
    border: 2px black solid;
}

.UserWrapper {
    position: relative;
    background-color: rgb(245, 244, 219);
    margin: 0px 0px 2px 0px;
    border: 2px solid orange;
    height: 50px;line-height: 50px;
    vertical-align: middle;
}

.Name, .Phone, .Rank {
    cursor: default;
    height: 50px; line-height: 50px;
    font-size: 18px;
}

.Name {
    width: 300px;
    text-align: left;
    margin-left: 50px; float: left;
    color: orange;
}

.Phone {
    width: 200px;
    margin-left: 125px;
    float: left;
    color: black;
}

.Rank {
    width: 300px;
    margin-right: 50px;
    text-align: right;
    float: right;
    color: gray;
}