<html>
    <head>
        <title>changskitchen</title>

        <link rel="stylesheet" type="text/css" href="../css/support/topNavStyle.css">
        <link rel="stylesheet" type="text/css" href="../css/support/searchField.css">
        <link rel="stylesheet" type="text/css" href="../css/usersPage.css">

        <script src="../js/support/topNavBar.js"></script>
        <script src="../js/usersPage.js"></script>

    </head>

    <body onload="clickedUsers(); load();">

        <div class="TopNavBar">

            <div class="HeadingWrapper">
                <p class="Heading">Chang's Kitchen</p>
            </div>

            <div class="Buttons"> 
                <a class="ButtonWrapper" href="addDishPage.html" id="AddDish">
                    <p class="ButtonTitle">Add dish</p>
                </a>

                <a class="ButtonWrapper" href="usersPage.html" id="Users">
                    <p class="ButtonTitle">Users</p>
                </a>

                <a class="ButtonWrapper" href="ordersPage.html" id="Orders">
                    <p class="ButtonTitle">Orders</p>
                </a>

                <a class="ButtonWrapper" href="menuPage.html" id="Menu">
                    <p class="ButtonTitle">Menu</p>
                </a>
            </div>

        </div>

        <div class="MainPage">

            <p class="Title">Users</p>

            <input class="SearchField" placeholder="Type to search">

            <div class="UsersWrapper" id="UsersWrapper">

                <div class="UserWrapper">
                    <p class="Name">Truong Dinh Dong</p>
                    <p class="Phone">0911099706</p>
                    <img class="BinImage" src="../images/bin.jpg">
                    <p class="Rank">Loyal User</p>
                </div>

            </div>
        </div>
    </body>
</html>