<html>
    <head>
        <title>changskitchen</title>

        <!--Firebase-->
    	<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
    	<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-storage.js"></script>

        <link rel="stylesheet" type="text/css" href="../support/css/topNavStyle.css">
        <link rel="stylesheet" type="text/css" href="./ordersPage.css">

        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <script src="../support/js/topNavBar.js"></script>
        <script src="./ordersPage.js"></script>

        <!--Canvas-->
        <!--<link rel="stylesheet" type="text/css" href="../support/css/canvas.css">
        <canvas></canvas>
        <script src="../support/js/canvas.js"></script>-->

    </head>

    <body onload="clickedOrders(); load();">

        <div class="TopNavBar">

            <div class="HeadingWrapper">
                <p class="Heading">Chang's Kitchen</p>
            </div>

            <div class="Buttons"> 
                <a class="ButtonWrapper" href="../addDishPage/addDishPage.html" id="AddDish">
                    <p class="ButtonTitle">Add dish</p>
                </a>

                <a class="ButtonWrapper" href="../usersPage/usersPage.html" id="Users">
                    <p class="ButtonTitle">Users</p>
                </a>

                <a class="ButtonWrapper" href="../ordersPage/ordersPage.html" id="Orders">
                    <p class="ButtonTitle">Orders</p>
                </a>

                <a class="ButtonWrapper" href="../menuPage/menuPage.html" id="Menu">
                    <p class="ButtonTitle">Menu</p>
                </a>
            </div>

            <i class="fa fa-sign-out-alt" onclick="logOut();"></i>

        </div>

        <div class="MainPage" id="Main">

            <p class="Title">Orders</p>

            <div class="OrdersWrapper" id="OrdersWrapper">
                <!--Orders will appear here-->
            </div>

            <div class="DishesWrapper" id="DishesWrapper">
                
            </div>
            
        </div>

    </body>
</html>