/* Main page */
.MenuTitle {
    text-align: center;
}

.DatePicker {
    cursor: pointer;
    background-color: rgb(245, 244, 219);
    font-size: 150%;
    border: none;
    color: black;
}

.Dishes {
    float: left;
    border: 5px solid orange; border-radius: 5%; background-color: rgb(245, 244, 219);
    height: 400px; width: 300px;
    text-align: center;
    margin: 10px 25px 50px 25px;
}

.DishesTitle {
    font-size: 200%;
}