@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
    margin: 0;
}

body {
    background-color: rgb(248, 236, 177);
}

p {
    cursor: default;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.Title {
    cursor: default;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: orange;
    font-size: 220%;
    margin-top: 50px; margin-bottom: 20px;
}

/* Top navigation bar */
.TopNavBar {
    cursor: pointer;
    height: 70px; line-height: 70px;
    vertical-align: middle;
    background-color: orange;
    position: relative;
}

.fa {
    cursor: pointer;
    display: block; position: absolute;
    top: 50%; right: 30px; transform: translate(0%, -50%);
    margin-left: 30px;
    height: 30px; width: 30px; line-height: 30px;
    text-rendering: auto;
}

.fa-sign-out-alt::before {
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 253, 253); 
}

.fa-sign-out-alt:hover {
    color: red;
}

.HeadingWrapper {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%; left: 100px;
    transform: translate(0%,-50%);

    height: 50; width: 220px; line-height: 50px;
    text-align: center;
    border-radius: 25px;

    background-color: rgb(245, 244, 219);
}

.Heading {
    cursor: pointer;
    font-size: 170%;
    color: orange;
}

.Buttons {
    display: block;
    position: absolute;
    top: 50%; right: 90px;
    transform: translate(0%, -50%);
    height: 70;
}

.ButtonWrapper {
    position: relative;
    cursor: pointer;
    display: block;
    float: right;

    text-decoration: none;
    height: 70;
    width: 150px;
    line-height: 46px;

    text-align: center;
}

.ButtonWrapper:hover, .ButtonWrapper:focus {
    background-color: rgb(236, 179, 72);
}

.ButtonTitle {
    cursor: pointer;
    top: 50%;
    transform: translate(0%, 25%);
    font-size: 130%;
    color: white;
}