.MainPage {
    text-align: center;
}

.MiddleWrapper {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
}

.SearchField {
    border-radius: 10px; border: 2px solid gray;
    height: 40px; width: 800px;
    padding: 0px 10px 0px 10px; margin: 0px 0px 10px 0px;
    font-size: 125%;
}

.far.fa-plus-square {
    cursor: pointer;
    float: inline-end;
    height: 40px; width: 40px; line-height: 100%;
    transform: translate(0, 18%);
}

.fa-plus-square {
    font-size: 40px;
    color: green;
}

.Dishes {
    margin: 10px 10% 0px 10%;
}

.DishWrapper {
    background-color: rgb(245, 244, 219);
    border: 3px solid orange; border-radius: 10%;
    height: 300px; width: 260px;
    margin: 10px 11px 0px 11px;
    text-align: center; float: left;
}

.Image {
    border-radius: 10%;
    margin: 25px auto 10px auto;
    height: 175px; width: 200px;
    object-fit: cover;
}

.Name, .Price {
    margin: 0px 10px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.Name {
    color: orange;
    font-size: 25px;
}

.Price {
    font-size: 20px;
    font-weight: normal;
}

.fas.fa-times {
    cursor: pointer;
    position: absolute;
    float: right;
    margin-left: -35px;
    margin-top: -8px;
    height: 30px; width: 30px; line-height: 100%;
}

.fa-times {
    font-size: 30px;
}

