<html>
    <head>
        <title>changskitchen</title>

    <!--Firebase-->
	    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-storage.js"></script>

    <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
    <!--CSS-->
        <link rel="stylesheet" type="text/css" href="../support/css/loader.css">
        <link rel="stylesheet" type="text/css" href="../support/css/topNavStyle.css">
        <link rel="stylesheet" type="text/css" href="../support/css/searchField.css">
        <link rel="stylesheet" type="text/css" href="./addDishPage.css">

    <!--JS-->
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <script src="../support/js/topNavBar.js"></script>
        <script src="../support/js/class/MenuDish.js"></script>
        <script src="./addDishPage.js"></script>
    
    <!--Prevent strangers-->
        <script type="text/javascript">
            firebase.auth().onAuthStateChanged(function(user) {
            if (!user) {
                window.location.href = "/public/indexPage/indexPage.html";
            }
            });
        </script>

    <!--Canvas-->
        <!--<link rel="stylesheet" type="text/css" href="../support/css/canvas.css">
        <canvas></canvas>
        <script src="../support/js/canvas.js"></script>-->

    </head>

    <body onload="clickedAddDish(); load();">

        <div class="TopNavBar">

            <div class="HeadingWrapper">
                <p class="Heading">Chang's Kitchen</p>
            </div>

            <div class="Buttons"> 
                <a class="ButtonWrapper" href="../addDishPage/addDishPage.html" id="AddDish">
                    <p class="ButtonTitle">Add dish</p>
                </a>

                <a class="ButtonWrapper" href="../usersPage/usersPage.html" id="Users">
                    <p class="ButtonTitle">Users</p>
                </a>

                <a class="ButtonWrapper" href="../ordersPage/ordersPage.html" id="Orders">
                    <p class="ButtonTitle">Orders</p>
                </a>

                <a class="ButtonWrapper" href="../menuPage/menuPage.html" id="Menu">
                    <p class="ButtonTitle">Menu</p>
                </a>
            </div>

            <i class="fa fa-sign-out-alt" onclick="logOut();"></i>

        </div>

        <div class="MainPage">

            <p class="Title">Dishes</p>

            <div class="MiddleWrapper">
                <input class="SearchField" placeholder="Type to search">
                <p class="EditButton">Edit</p>
                <p class="AddButton">Add</p>    
            </div>
        
            <div class="Dishes" id="Dishes">
                
                <div class="DishWrapper">
                    <img src="https://res.cloudinary.com/swiggy/image/upload/f_auto,q_auto,fl_lossy/ae3qqfev6j7hzhxw6if3" class="Image">
                    <p class="Name">Chocolate Ice-cream</p>
                    <p class="Price">$100</p>
                </div>
                
            </div>

        </div>

        <div class="loader-wrapper">
            <span class="loader">
                <span class="loader-inner"></span>
            </span>
        </div>
    </body>
</html>