.MainPage {
    text-align: center;
}

.MiddleWrapper {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
}

.SearchField {
    border-radius: 10px; border: 2px solid gray;
    height: 40px; width: 800px;
    padding: 0px 10px 0px 10px; margin: 0px 0px 10px 15%;
    font-size: 125%;
}

.AddButton, .EditButton {
    width: 50px;
    font-size: 150%;
    font-weight: normal;
    font-family: Arial;
    cursor: pointer;
}

.AddButton {
    color: green;
    float: right;
    margin: 0px 10px 0px 5px;
}

.EditButton {
    color: red;
    float: right;
    margin-right: 15%;
}


.Dishes {
    margin: 0px 10% 0px 10%;
}

.DishWrapper {
    background-color: rgb(245, 244, 219);
    border: 3px solid orange; border-radius: 10%;
    height: 300px; width: 260px;
    margin: 10px 11px 0px 11px;
    text-align: center; float: left;
}

.Image {
    border-radius: 10%;
    margin: 10px;
    height: 175px; width: 200px;
    object-fit: cover;
}

.Name, .Price {
    margin: 0px 10px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.Name {
    color: orange;
    font-size: 170%;
}

.Price {
    font-size: 150%;
    font-weight: normal;
}

